body {
  text-align: center;
  align-items: center;
}

h1 {
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

input {
  margin-bottom: 2rem;
  padding: 0.4rem;
  outline: none;
}

input::placeholder {
  text-align: center;
  text-transform: uppercase;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 0.5rem 0.2rem;
  background-color: #e41b17;
}
